table {
    width: 100%;
}

th {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
}

td {
    padding: 20px;

}

tr:nth-child(even) {
    background-color: gray;
}

tr:nth-child(odd) {
    background-color: #ccc;
}